# ---------------------------------
# Common aliases
# ---------------------------------

alias rr="rm -rf"
alias ws="webstorm ."

alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"
alias paths='echo -e ${PATH//:/\\n}'

# ---------------------------------
# Git aliases
# ---------------------------------

alias gclear="git checkout master && git fetch --prune && git pull && git branch | grep -v '*' | xargs git branch -D"

# ---------------------------------
# Kubernetes aliases
# ---------------------------------

alias k='kubectl'
# alias to switch between namespace
# Usage: kcns--namespace=<insert-namespace-name-here>
alias kcns='kubectl config set-context --current'

# alias to validate the namespace
alias knc='kubectl config view --minify | grep namespace:'

# ---------------------------------
# Terraform
# ---------------------------------

alias tf='terraform'

# ---------------------------------
# Miscellaneous
# ---------------------------------

alias gclear="git checkout master && git fetch --prune &&git pull && git branch | grep -v '*' | xargs git branch -D"
alias mkdir='mkdir -pv' # make any necessary parent directories, show verbose output
alias mv="mv -iv" # interactive and verbose
alias rm="rm -iv" # interactive and verbose
alias shutdown="sudo shutdown -h now"
alias week="date +%V"