# ---------------------------------
# Git functions
# ---------------------------------

alias gclear="git checkout master && git fetch --prune &&git pull && git branch | grep -v '*' | xargs git branch -D"
